<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sign-up.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Homepage</title>
</head>

<body>
            <form action="/homepage/users" method="POST" class="btn-form">
                <button type="submit" class="has-account-btn">See friends who already have an account with Us</button>
            </form>

    <Table>
        <thead>
            <th>Carees</th>
            <th>Activity</th>
        </thead>
        <tbody>
            <tr>
                <td><b>
                        <p>Startselect | Online Prepared services</p>
                    </b>
                    <p>May 2016 - current</p>
                </td>
                <td><b>Fulltime-Senior web developer</b> <br>
                    <p>Working as a senior developer on a large european base webshop for digital games and giftcards.
                        The application is laravel based and as a team we are working in a fully scrum way.</p>
                </td>
            </tr>
            <tr>
                <td><b>
                        <p>The secrete lab</p>
                    </b>
                    <p>Aug 2015 - Apr 2016</p>
                </td>
                <td><b>
                        <p>Full-time senior web developer</p>
                    </b>
                    <p>As a senior, at the secrete lab I work on projects like Kaartjes,nI, Clay.com and more. Using
                        frameworks and technologies such as Larevel, Wordpress, Drupal 8 and ElasticSearch. I also
                        introduced working with Git Flow and supporting my collegues to write nice readable and reusable
                        codes.</p>
                </td>
            </tr>
            <tr>
                <td><b>
                        <p>Carvial digital</p>
                    </b>
                    <p>Feb 2015 - Jul 2015</p>
                </td>
                <td><b>Fulltime-creative developer</b><br>Carvial digital is adigital agency based in Armsterdam. I
                    worked here as a<br>creative developer on a big project for the new Samsung Galaxy S6 / S6
                    edge<br>and created a configuarable CMS based on the Laravel framework. Due to <br>economically
                    reasons it was a short but goog experience.</td>
            </tr>
            <tr>
                <td><b>
                        <p>Whoopaa and resource.</p>
                    </b>
                    <p>April 2011 - Jan 2015</p>
                </td>
                <td><b>
                        <p>Fulltime-creative Developer</p>
                    </b>
                    <p>Whoopaa is a startup tha began as a social network where users were able to separste their
                        business and personal social life.</p>
                </td>
            </tr>
            <footer><i>
                    <h2>Know your developer. See his resume</h2>
                </i></footer>
        </tbody>
    </Table>
    <style>
        table {
            background-color: #F1EEE9;
            border-spacing: 20px;
            padding: 3%;
            width: 50%;
            margin-left: auto;
            margin-right: auto;

        }

        thead {
            color: #3BACB6;

        }

        td {
            font-family: sans-serif;
            font-size: small;
            font-weight: lighter;
        }
    </style>
    <!-- <script>
        alert("Thanks for signing up with us. Next time you visit the site, use your password to log in")
    </script> -->
    <script src="app.js" type=""></script>
</body>

</html>